---
layout: page
title: inspired lab
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="hidden">inspired lab A research space for experiential learning in information technology</h1>
          <h2 class="animated fadeInUp"><b>explore experience empower</b></h2>
          <p class="animated fadeInUp">A research space for experiential learning in information technology.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>"Experience is the teacher in the InspirEd classroom" - FB</p>
          </div>
            <dl class="dl-horizontal">
              <dt>Vision</dt>
              <dd>to nurture others toward achieving their full potential. </dd>
              <dt>Mission</dt>
              <dd>to develop servant leaders and change agents through a dynamic experiential learning environment
                  where mistakes lead to new insights and learning opportunities.</dd>
            </dl>
            <p>InspirEd Lab is a community of students, educators, designers, researchers, and developers working on
              experiments ideated to advance the development of experiential learning in information technology into new
              spaces.

              The InspirEd Lab provides an open, collaborative environment for interdisciplinary exploration, where students and
              professionals learn together as a team.
            </p>
            <div class="block">
              <dl class="dl-horizontal">
                <dt>Learning</dt>
                <dd>Lifelong-learning, the ongoing, voluntary, and self-motivated pursuit of knowledge for either personal 
                  or professional reasons. It takes place on an ongoing basis from our daily interactions with others and 
                  with our environment. Shapeshifting, constantly adapting and evolving.</dd>
                <dt>Enthuse</dt>
                <dd>Making others excited and interested in the goals of the team.
                  Firing up the enthusiasm chords and inspiring collaborative work.
                </dd>
                <dt>Attentive</dt>
                <dd>Are the ones who give their undivided attention to the people, problems, celebrations, opportunities, 
                  and moments they encounter. They are able to make each situation their most important moment. 
                </dd>
                <dt>Fortitude</dt>
                <dd>Mental and emotional strength enabling courage in the face of adversity.
                  Courage to do what is best and persevere while working on tough problems.
                </dd>
              </dl>
            </div>
            <p>
              We rise up to the challenge, embrace change, and are energized by working on difficult problems worth
              solving. We believe in the process as much as the outcome.

              We are best known for our innovative Agile Classroom approach and our set of open-source adaptable
              tools for implementing it.

              We also develop prototypes of tools for reporting, data management, research, and development, often in
              connection with Northern Illinois University courses.
            </p>
            
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-6">
        <div class="section-title">
          <h2>We believe in challenges</h2>
          <p>"The brick walls are there for a reason. 
            The brick walls are not there to keep us out. 
            The brick walls are there to give us a chance to show how badly we want something." - Randy Pausch</p>
        </div>
        <div class="block">
          <dl class="dl-horizontal">
            <dt>Approach</dt>
            <dd>
                Our approach is an immersive learning experience, it combines user experience research, design thinking, lean
                and agile principles, iterative development, active learning, storytelling, and a healthy dose of experimentation.
                <p></p>
            </dd>
            
            <dt>Students</dt>
            <dd> 
                Our most successful students are driven and motivated. They possess the curiosity and determination to drive
                and sustain a project from start to finish. They are comfortable with ambiguity and embrace change. 
                They have a strong desire to raise the bar, discover challenging questions and research their paths to the answers.
                <p></p>
            </dd>
              <p>
                InspirEd Lab is an immersive learning experience where NIU students, faculty, and professionals
                collaborate at the junction of storytelling, design, and information technology. Taking on challenging
                projects, we research innovative approaches and develop solutions employing cutting-edge tools and
                techniques — validating learning along every step of the exploratory path.
              </p>
          </dl>

          
        </div>
        <a href="#" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>InspirEd Lab develops prototypes, applications and services that help make learning meaningful and 
          promote quality practices, agility and teamwork.
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-loop"></i>
          <h4>Agility</h4>
          <p>Helping teams implementing and improving Agile development practices with Scrum, Kanban, and XP. </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-stats-bars"></i>
          <h4>Analytics</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-easel"></i>
          <h4>App Design</h4>
          <p>Unlock value with collaborative design methodologies. 
            Provide modernization advice to help transforming a solutions. </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-upload"></i>
          <h4>Cloud Shift</h4>
          <p>Building infrastructure as code and 
             deploying apps into a DevOps style continuos integration/delivery pipeline.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wand"></i>
          <h4>Ed Tech</h4>
          <p>Applying Educational Technology innovative practices, tools and techniques 
            to IT teaching and learning.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-map"></i>
          <h4>Product Development</h4>
          <p>Getting from concept to product the Lean Startup way.
            Applying UX research to IT products solving users problems.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Research</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>Web Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Come get something started.</h2>
          <p>Read more about what we do and our philosophy. The work and results we achieved are the fruit our highly motivated team
             who is tenaciously committed to our vision.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>We are perennial learners, deep inside we never grow up. We have fun! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
